html, body {
    margin: 0;
    background-color: #2e2837;
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2837;
    width: auto;
    height: 100vh;
}

h1 {
    /* font-size: 12rem; */
    font-size: 20vh;
    text-align: center;
    color: #00ff9c;
    margin: 0;
    line-height: 20vh;
    transition: font-size 0.5s, line-height 0.5s;
}
/* h1:hover {
    text-decoration: underline;
    border: -1vh solid;
} */
h2 {
    font-weight: 500;
    color: #ff5c86;
    margin-top: 3vh;
    font-size: 2.4vh;
    transition: font-size 0.5s, line-height 0.5s;
    margin-bottom: 0;
    /* background-color: #2e2837; */
}

@media (max-width: 1200px) {
    h1 {
        font-size: 16vh;
        line-height: 16vh;
    }
    h2 {
        margin-top: 2.5vh;
        font-size: 2vh;
    }
}
/* @media (max-width: 992px) {
    h1 {
        font-size: 12vh;
        line-height: 12vh;
    }
    h2 {
        margin-top: 2vh;
        font-size: 1.6vh;
    }
} */
@media (max-width: 768px) {
    /* h1 {
        font-size: 8vh;
        line-height: 8vh;
    }
    h2 {
        margin-top: 1.5vh;
        font-size: 1.2vh;
    } */
    h1 {
        font-size: 12vh;
        line-height: 12vh;
    }
    h2 {
        margin-top: 2vh;
        font-size: 1.6vh;
    }
}
/* @media (max-width: 576px) {
    h1 {
        font-size: 4vh;
        line-height: 4vh;
    }
    h2 {
        margin-top: 1vh;
        font-size: 1vh;
    }
} */

.wrapper p {
    font-weight: 500;
    color: #dedede;
    font-size: 2vh;
    transition: font-size 0.5s, line-height 0.5s;
}

#jokeWrapper {
    display: flex;
    flex-direction: column;
}


#dadJokes {
    min-height: 30vh;
    padding-top: 60px;
    color: #00ff9c;
    text-align: center;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2e2837 0%, #ffffff1a 100%);
    width: auto;
}
#dadJokes h3 {
    font-size: 2em;
    margin-top: 30px;
}
#dadJokes input, #dadJokes button {
    border-radius: 10px;
    border: none;
    margin: 10px 10px 60px 10px;
    height: 3em;
    text-align: center;
    width: 20em;
    
}

#dadJokes button {
    background-color: #ff5c86;
    color: white;
}

#dadJokes ul {
    margin: 0;
    padding: 0 1em;
    text-decoration: none;
    color: #00ff9c;
    font-size: 1.5em;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}
#dadJokes li {
    text-align: center;
    border:none;
    border-radius: 10px;
    background-color: #ffffff1a;
    color: #00ff9c;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dadJokes li:nth-of-type(2n) {
    background-color: #ffffff4f;
}

#footer {
    padding-top: 30px;
    color: #dedede;
    text-align: center;
    width: auto;
    align-items: center;
    background: #ffffff1a;
    min-height: 15vh;
}

#footer a {
    color: #bb5ee0;
    text-decoration: none;
}

#footer a:hover {
    color: #bb5ee0;
    text-decoration: underline;
}

#footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
    font-size: 1.2em;
}

#footerWrapper div {
    width: 33vw;
}

#footerWrapper h4 {
    color: #00ff9c;
}

#socials, #dumb {
    display: inline;
}

#socials a, #dumb a {
    padding: 5px;
}